.About {
  margin-top: 1%;
  text-align: center;
}

.About-intro {
  font-size: 20px;
  line-height: 200%;
  margin-top: 25%;
}

.find-row {
  margin-top: 5%;
}

.git-logo {
  width: 40px;
}

.intro {
  font-size: 30px;
  font-weight: bold;
}
