.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  height: auto;
  width: 500px;
}

.results {
  list-style-type: none;
  display: inline-table;

}

.result {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
