.Browse {
  text-align: center;
}

.game-node {
  margin-top: 5px;
}

.game-title {
  font-size: 0.8vw;
}

.price-tag {
  font-size: 0.7vw;
}

.welcome {
  margin-top: 1.5%;
  font-size: 30px;
  font-weight: bold;
}
