.Home {
 text-align: center;
}

.Home-title {
  font-size: 1.5em;
}

.intro {
  font-size: 50;
  margin-top: 1%;
}

.items-container {
  margin-top: 3%;
}

.view-button {
  margin-top: 15px;
}

.game-image {
  width: 318px;
  height: 250px;
}

.game-title {
  font-size: 0.85vw;
}
