.Main {
  text-align: center;
}

.logo {
  height: 80px;
}

.Main-header {
  background-color: #000;
  height: 180px;
  padding: 5px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}